40+ Templates-fluxos prontos n8n/41. Backup de fluxos n8n.json
{
  "name": "41. Backup de fluxos n8n",
  "nodes": [
    {
      "parameters": {
        "mode": "mergeByIndex"
      },
      "name": "Merge",
      "type": "n8n-nodes-base.merge",
      "position": [
        40,
        200
      ],
      "typeVersion": 1,
      "id": "5f459052-c2f0-424f-80ec-d8345e432e28"
    },
    {
      "parameters": {
        "triggerTimes": {
          "item": [
            {
              "hour": 2,
              "minute": 30
            }
          ]
        }
      },
      "name": "Run Daily at 2:30am",
      "type": "n8n-nodes-base.cron",
      "position": [
        -820,
        180
      ],
      "typeVersion": 1,
      "id": "0c52c7b8-34ac-4b94-90ff-3e44f472b3d4"
    },
    {
      "parameters": {
        "operation": "get",
        "workflowId": {
          "__rl": true,
          "value": "={{ $json.id }}",
          "mode": "id"
        },
        "requestOptions": {}
      },
      "id": "8b4cff4d-0381-476a-b87e-3eafe0bef6fc",
      "name": "n8n1",
      "type": "n8n-nodes-base.n8n",
      "typeVersion": 1,
      "position": [
        -200,
        300
      ]
    },
    {
      "parameters": {
        "resource": "folder",
        "name": "={{ $now.format('dd-MM-yyyy') }}",
        "driveId": {
          "__rl": true,
          "mode": "list",
          "value": "My Drive"
        },
        "folderId": {
          "__rl": true,
          "value": "1dEqexhORA8jp_3PX4bL5VK49Eh__3cja",
          "mode": "id"
        },
        "options": {}
      },
      "id": "424ff89f-7311-4927-a992-73790bcab93a",
      "name": "Criar Pasta do Dia",
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        -640,
        180
      ]
    },
    {
      "parameters": {
        "filters": {},
        "requestOptions": {}
      },
      "id": "ae73bc36-cf9d-4d45-be88-8574ce8bf724",
      "name": "n8n",
      "type": "n8n-nodes-base.n8n",
      "typeVersion": 1,
      "position": [
        -440,
        180
      ]
    },
    {
      "parameters": {
        "mode": "jsonToBinary",
        "options": {
          "useRawData": false
        }
      },
      "name": "Move Binary Data",
      "type": "n8n-nodes-base.moveBinaryData",
      "position": [
        520,
        240
      ],
      "typeVersion": 1,
      "id": "1c005145-c0c0-44d0-a434-3ca4b5fedf07"
    },
    {
      "parameters": {
        "options": {}
      },
      "id": "e6732c27-c11c-4a82-a236-9af3c8168a9c",
      "name": "Loop Over Items",
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        300,
        200
      ]
    },
    {
      "parameters": {
        "authentication": "oAuth2",
        "binaryData": true,
        "name": "={{$node[\"Loop Over Items\"].data[\"name\"]}}.json",
        "resolveData": true,
        "parents": [
          "={{ $node['Criar Pasta do Dia'].json.id }}"
        ],
        "options": {}
      },
      "name": "Google Drive",
      "type": "n8n-nodes-base.googleDrive",
      "position": [
        700,
        240
      ],
      "typeVersion": 1,
      "id": "cef687ef-065c-4158-9ceb-06dddb5de81b",
      "retryOnFail": true,
      "onError": "continueErrorOutput"
    }
  ],
  "pinData": {},
  "connections": {
    "Merge": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Run Daily at 2:30am": {
      "main": [
        [
          {
            "node": "Criar Pasta do Dia",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "n8n1": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Criar Pasta do Dia": {
      "main": [
        [
          {
            "node": "n8n",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "n8n": {
      "main": [
        [
          {
            "node": "n8n1",
            "type": "main",
            "index": 0
          },
          {
            "node": "Merge",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Move Binary Data": {
      "main": [
        [
          {
            "node": "Google Drive",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Over Items": {
      "main": [
        [],
        [
          {
            "node": "Move Binary Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Drive": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "01555429-dc76-4f1d-b412-5f72681db861",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "385c06b6bbed00452a824dd157a142ab661dedbca13fb1106183d4d0295a4f6e"
  },
  "id": "8OAElqirM1rh8P8s",
  "tags": []
}